*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
#contact_modal {
    display: none;
}
.photograph_header {
    background-color: #FAFAFA;
    height: 250px;
    margin: 0 100px;
    position: relative;
    padding: 0 40px;
}
.title_container img{
    position: absolute;
    width: 170px;
    height: 170px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    object-fit: cover;
}
.title_container article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.title_container article .title{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    line-height: 40px;
}
.title_container h1{
    font-size: 2.5rem;
    color:#D3573C;
}
.title_container h2{
    font-size: 1rem;
    color: #901C1C;
}
.title_container p{
    font-size: .9rem;
    color:#525252
}
.photograph_header .contact_button {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.photograph_header .contact_button:focus, .photograph_header .contact_button:hover{
    background:#DB8876
}
.sort_container{
    display: flex;
    margin:20px 0 0 100px;
}
.sort_container h2{
    width: 80px;
    font-size: .9rem;
    padding-top: 20px;
}
.sort_container form{
    position: relative;
}
.sort_container .labels_container{
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 56px);
    width: 170px;
    z-index: 10;
    border-radius: 5px;
    overflow: hidden;
}
.label_radio_popularity, .label_radio_date, .label_radio_title{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    background: #901C1C;
    text-align: left;
    color: #FAFAFA;
    font-size: 1rem;
    padding: 20px;
    border: none;
    cursor: pointer;
}
.label_radio_popularity{
    border-radius: 5px;
}
.label_radio_date:focus, .label_radio_title:focus, .label_radio_popularity:focus{
 background: #DB8876;
 color: #312E2E;
 font-weight: bold;
}
.span_top_labels_container, .span_bottom_labels_container{
    display: none;
    position: absolute;
    width: 90%;
    height: .5px;
    background: #FAFAFA;
    left: 50%;
    transform: translateX(-50%);
}
.span_top_labels_container{
    top: 56px;
}
.span_bottom_labels_container{
    top: 112px;
}
.icon_vector{
    position: absolute;
    top: 24px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
}
.rotate{
    transform: rotate(180deg);
}
.radios_container{
    display: none;
}
.media_section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin: -85px 100px;
}
.media_section article{
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
.media_section article:hover{
    transform: scale(1.05);
    transition: transform .2s linear;
}
.media_section article a {
    display: block;
    width: 100%;
    height: 270px; 
}
.media_section article a img {
    width: 100%;
    height: 270px;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
}
.media_section article a video {
    width: 100%;
    height: 270px;
    border-radius: 5px;
    object-fit: cover;
}
.media_section article .title_likes{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media_section .article h2 {
    color: #D3573C;
    font-size: .9rem;
}
.media_section .article .likes{
    font-size: .8rem;
    color: #901C1C;
    font-weight: 700;
}
.media_section .fa-sharp {
    color: #901C1C;
    font-size: .8rem;
    margin-left: 5px;
    cursor:pointer;
}
.total_likes_container{
    position: fixed;
    width: 300px;
    height: 45px;
    background: #DB8876;
    bottom: 0;
    right: 5%;
    border-radius: 5px 5px 0 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact_modal .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
    margin: auto;
    z-index: 100;
}
#contact_modal .modal header {
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
}
#contact_modal .modal header img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#contact_modal .modal header h2 {
    width: 300px;
    font-size: 2rem;
    font-weight: normal;
    text-align: left;
}
#contact_modal .modal form {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: flex-start;
}
#contact_modal .modal form label {
    color: #0f0f0f;
    font-size: 1.1rem;
}
#contact_modal .modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
}
#contact_modal .modal form input, textarea {
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    outline-color: transparent;
}
#contact_modal .modal form textarea{
    height: 120px;
    resize:none;
}
#contact_modal .modal form .send_button{
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 150px;
    height: 50px;
    border: none;
    margin-bottom: 15px;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
#contact_modal span{
    width: 100%;
    font-size: .7rem;
    color: black;
    text-align: right;
}
.text-form-invalid{
    display: none;
}
.validation_confirm{
   margin-bottom: 70px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 30; 
  }
#lightbox_modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color:white;
    width: 100%;
    min-height: 100vh;
    z-index: 50; 
}
.lightbox{
  width: 800px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.article_container{
    width: 800px;
  display: flex;
  transition: transform 0.2s ease;
}
.article_container .article{
    margin: 20px auto;
}
.article_container article img,
.article_container article video{
    display: inline-block;
    width: 800px;
    height: 90vh;
    object-fit: cover;
  border-radius: 5px;
}
.article_container article h2{
    color: #901C1C;
    font-size: 1.2rem;
    font-weight: normal;
}
.close_lightbox{
    position:fixed;
    width: 30px;
    height: 30px;
    top: 5%;
    right: 12%;
    cursor: pointer;
}
.previous_image{
    position:fixed;
    top: 50%;
    left: 12%;
    width: 30px;
    height: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}
.next_image{
    position:fixed;
    top: 50%;
    right: 12%;
    width: 30px;
    height: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}
.close_lightbox:hover, .close_lightbox:focus{
    transform: scale(1.5);
    transition: .1s linear;
}
.previous_image:hover, .next_image:hover, .previous_image:focus, .next_image:focus{
    transform: translateY(-50%) scale(1.5);
    transition: .1s linear;
}